
body {
	height: 100%;
	min-width: 900px;
	background: url('/images/tournament-list-background.jpg') repeat scroll center center;
	background-attachment: fixed;
	background-size: cover;	
}

.table-box {
	background-color: white;	
}

.tour-head {
	color: white;
}

.back-home {
	padding-bottom: 50px;
	color: #00FFFF;
}

.back-home-first {
	
	text-align: right;
	float: right;
	color: #00FFFF;
}